* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

 *> button {
    cursor: pointer;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #efefef;
}

.head{
    border-bottom: 1px solid rgb(206, 206, 206);
}

.head-nav{
    width: 70%;
    margin: 10px auto;
   }

.head-nav ul{
    display: flex;
    justify-content: space-evenly;

}

.head-nav-btn{
    color: rgb(48, 157, 201);
    padding: 10px;
    font-size: 3.5vw;
    font-weight: 750;
}

.head-nav-btn:hover{
    border-bottom: 8px solid rgb(48, 157, 201) ;
}
.content{
    height: 100vh;
    display: grid;
    gap: 8px;
    grid-template-columns:  [start]1fr[start-end] 0fr [end];
    grid-auto-rows: auto 1fr;
}

.content-library{
    width: 90%;
    height: 90%;
    margin: 10px auto;
    /* background-color: #ffffff; */
    grid-column: start/start-end;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.content-notes{
    grid-column: start-end/end;
    width: 80%;
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
}
.notes-page{
    display:flex;
    width:80%;
    height: 70%;
    margin: 0 auto;
    flex-direction: column;
}

.notes-page-head{
    display: flex;
}

.notes-page-head h2{
    flex: 1;
}

.notes-page-head> button> i{
    font-size: 3vw;
}
.files{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
    gap: 5px;
    background-color: #ffffff;
    padding: 10px 5px;
    border-radius: 5px;
    height: fit-content;
    border: 1px solid rgb(224, 216, 216);
}
/* .files:last-child{
    border-bottom: 0;
} */

.library-tools{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    height: fit-content;
    width: 90%;
}

.library-tools > button> i{
    font-size: 2em;
    color: rgb(48, 157, 201);
}

.files h1{
    flex: 1;
    text-align: start;
    font-size: 1,8em;
    
}
.top-priority, .mid-priority, .low-priority, .note-tag{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: red;
}

.mid-priority{
    background-color: purple;
}

.low-priority{
    background-color: aqua;
}

.note-tag{
    background-color:black ;
}

dialog{
    left: 50%;
    top:50%;
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    border: 3px solid #7a7a7a;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 20px auto;

}

#form-title{
    border: 2px solid #7a7a7a;
    border-radius: 15px;
    padding: 10px;
    margin: 8px auto;
}
.button-div{
    display: flex;
    margin: 5px auto;
    justify-content: center;
    gap: 5px;
}

.priority{
    display: none;
    margin-left: 10px;
}
.create-btn, .cancel-btn{
    padding: 8px 10px;
    border-radius: 16px;
    color: white;
    font-weight: 900;
    width: 5em;
    background-color: rgb(48, 157, 201);
}