* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

 *> button {
    cursor: pointer;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    
}

.landing-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing-page h1{
    font-size: 6em;
    margin: 10px 0;
}
.notes-landing-page-btn, .to-do-list-landing-page-btn{
    font-size: 5em;
    width: 6em;
    margin: 15px 0;
    border: 3px solid rgb(48, 157, 201);
    background-color: rgb(48, 157, 201);
    color: white;
    padding: 5px 8px;
    border-radius: 15px;
    box-shadow: 5px 10px #666666;
}

.notes-landing-page-btn:active, .to-do-list-landing-page-btn:active{
    transform: translateY(4px);
    box-shadow: 5px 10px #999999;
}


.head{
    border-bottom: 1px solid rgb(206, 206, 206);
}

.head-nav{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
   }

.head-nav ul{
    display: flex;
    justify-content: space-evenly;

}

.header-text{
    margin: 0 auto;
    font-size: 2em;
}
.switch-button{
    margin-left: auto;
    border-radius: 15px;
    background-color: rgb(48, 157, 201);
    padding: 5px 20px;
    font-size: 1.5em;
    color: #ffffff;
    transition: all 0.5s;
    position: relative;
    box-shadow: 0px 1px 5px 5px rgb(199, 199, 199);;
}

.switch-button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 5px;
    right: -20px;
    transition: 0.5s;
}

  .switch-button:hover{
    padding-right: 24px;
    padding-left:12px;
}

  .switch-button:hover:after {
    opacity: 1;
    right: 10px;
}

.switch-button:active{
    transform: translateY(3px);
}
.head-nav-btn{
    color: rgb(48, 157, 201);
    padding: 10px;
    font-size: 3.5vw;
    font-weight: 750;
}

.head-nav-btn:hover{
    border-bottom: 8px solid rgb(48, 157, 201) ;
}
.content{
    height: 100vh;
    display: grid;
    gap: 8px;
    grid-template-columns:  [start]1fr[start-end] 0fr [end];
    grid-auto-rows: auto 1fr;
}

.content-library{
    width: 90%;
    height: 90%;
    margin: 10px auto;
    /* background-color: #ffffff; */
    grid-column: start/start-end;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.content-notes{
    grid-column: start-end/end;
    width: 80%;
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
}
.notes-page{
    display:flex;
    width:90%;
    height: 70%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.notes-page-head{
    margin: 10px;
    width: 100%;
    display: flex;
}

.notes-page-head h2{
    flex: 1;
}

.notes-page-head> button{
    margin-left: auto;
}

.notes-page-head> button> i{
    
    font-size: 2rem;
}

.notes-page>textarea{
    border: 1px solid #efefef;
    width: 95%;
    padding: 10px;
    height: 80%;
    border-radius: 15px;
}
.files{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
    gap: 5px;
    background-color: #ffffff;
    padding: 10px 5px;
    border-radius: 5px;
    height: fit-content;
    border: 1px solid rgb(224, 216, 216);
}
/* .files:last-child{
    border-bottom: 0;
} */

.library-tools{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    height: fit-content;
    width: 90%;
}

.library-tools > button> i{
    font-size: 2em;
    color: rgb(48, 157, 201);
}

.files h1{
    flex: 1;
    text-align: start;
    font-size: 2em;
    
}
.top-priority, .mid-priority, .low-priority, .note-tag{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: red;
}

.mid-priority{
    background-color: purple;
}

.low-priority{
    background-color: aqua;
}

.note-tag{
    background-color:black ;
}

dialog{
    left: 50%;
    top:50%;
    background-color: #ffffff;
    min-width: fit-content;
    
    height: fit-content;
    padding: 8px;
    border: 3px solid #7a7a7a;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 20px auto;

}

#form-title{
    border: 2px solid #7a7a7a;
    border-radius: 15px;
    padding: 10px;
    margin: 8px auto;
}
.button-div, .notes-btn-div{
    display: flex;
    margin: 15px auto;
    justify-content: center;
    gap: 5px;
}

.notes-btn-div{
    width: 80%;
}
.priority{
    display: none;
    margin-left: 10px;
}

.priority-label{
    display: flex;
    gap: 5px;
    align-items: center;
}

.date-time{
    margin-left: auto;
    padding: 5px;
    display: none;
}
.create-btn, .cancel-btn, .save-notes-btn, .cancel-notes-btn{
    padding: 8px 10px;
    border-radius: 16px;
    color: white;
    font-weight: 900;
    width: fit-content;
    font-size: 1.5em;
    background-color: rgb(48, 157, 201);
}

.save-notes-btn, .cancel-notes-btn{
    font-size: 2rem;
}
.additional-feats{
    margin:0 10px;
   opacity: 0;
    
}

.additional-feats> button > i{
    font-size: 1.25rem;
    
}

.additional-feats-feats >button:hover{
    color: rgb(48, 157, 201);
}
.files:hover .additional-feats{
    /* display:block; */
    opacity: 1;
}

.trash-btn, .pencil-btn{
    width: 2em;
}

.trash-btn:hover, .pencil-btn:hover{
    color: rgb(48, 157, 201);   
}